*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.form__group {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border: 2px solid #404040;
  width: 200px;
}
.submit_button {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.submit_button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
